body.ng-scope {
    font: 1em Tahoma;
}

section.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 100px;
    width: 50%;
    margin: 10%auto;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 9px 20px 2px #263738;
}


section.info {
    text-align: center;
}

input, select {
    background: #fff;
    border: 1px solid #d7caca;
    border-radius: 5px;
    padding: 5px;
}