<!DOCTYPE html>
<html lang="en" ng-app="root">
<head>
	<meta charset="UTF-8">
	<title>Quiz</title>

	<meta name="description" content="Web-Quiz">
	<meta name="author" content="IT-house">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="css/master.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
 -->
	<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->	
</head>
<body class="container" ng-controller="main">
	<header>
		<h1>Quiz for young techies</h1>
		<span class="user">Nick Masalkov</span>
		<input type="button" value="Request data (test button)" ng-click="request()">
	</header>
	<main>
	
		<div class="statusBar">
			<span class="textStatus">Your summary</span>
			<span class="navArrow">&#x21E8;</span>
		</div>
		<section class="content">
			<article class="result">
				<figure class="mark">
					<div id="markCircle" ng-style="markColor()">{{correctPercent}}%</div>
				</figure>
				<h3>
					<span>Cool!</span>
					<span>{{correct}}/{{overall}} answers</span>
				</h3>
				<ul class="answers">
					<li ng-repeat="item in questions" ng-class="item.correct ? 'correct' : 'wrong'" ng-attr-data-result="{{item.correct ? '&#x2714;' : '&#x2718;'}}">{{$index+1}}</li>
<!-- 					<li ng-repeat="item in questions" class="correct" data-result="&#x2714;">{{item.correct}}</li>
					<li ng-repeat="item in questions" class="wrong" data-result="&#x2718;">{{item.correct}}</li>
					<li ng-repeat="item in questions" class="wrong" data-result="&#x2718;">{{item.correct}}</li>
					<li ng-repeat="item in questions" class="wrong" data-result="&#x2718;">{{item.correct}}</li> -->
				</ul>
			</article>
		</section>
		<article class="toRead">
<!-- 			<h4>Cool stuff to explore on topic</h4>
 -->			<ul class="list">
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
				<li>Lorem ipsum dolor sit amet.</li>
			</ul>
		</article>

	</main>
	<script src="js/root.js"></script>
	<script src="js/index.js"></script>

</body>
</html>
