

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 1px solid;
}

body {
	font-size: 100%;
	font-family: sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.panel {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr 3fr;
	grid-template-columns: 1fr;
	grid-template-areas:
			"head"
			"main";
}

/*********** HERO > **********/

.hero {
	background: url(http://wallpapercave.com/wp/wp1824983.jpg);
    background-size: cover;
}

.heroNav {
	justify-content: space-around;
	display: flex;
	flex-flow: row nowrap;
	/*padding: 0 5%;*/
	align-items: center;
}

.heroUList {
    justify-content: space-around;
    width: 80%;
    display: inline-flex;
    align-items: center;
    list-style-type: none;
	font-size: 1.4em;
}

.heroUList li {
	cursor: pointer;
    border: 0;
    color: #d8ded0;
    padding: 20px 30px;
}

ul.heroUList li:last-of-type {
    /* margin-left: auto; */
}

ul.heroUList > li:last-child > button {
    font-size: 1em;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(9, 157, 243, 0.8)), color-stop(0.5, rgba(92, 255, 212, 0.54)), to(rgba(255, 255, 255, 0.44)));
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #7c8240;
}

.heroHead {
	grid-area: head;
	align-self: center;
}

.label-toggle, #menu-toggle {
	display: none;
}

@media screen and (max-width: 650px) {
	.label-toggle {
	    background: linear-gradient(to bottom, #E84545 0%, #E84545 20%, transparent 20%, transparent 40%, #E84545 40%, #E84545 60%, transparent 60%, transparent 80%, #E84545 80%, #E84545 100%);
	    cursor: pointer;
	    display: block;
	    float: right;
	    height: 35px;
	    margin-top: 1em;
	    width: 35px;
	    align-self: flex-start;
	}

	.heroNav {
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 0 10px;
	}

	.brand, .label-toggle {
		align-self: flex-start;
	}

	.heroUList {
		order: 1;
	    display: block;
	    height: 0;
	    list-style-type: none;
	    opacity: 0;
	    text-align: center;
/*	    transition: all 1s ease;
*/	    width: 100%;
	    visibility: hidden;
	}

	.heroUList li {
	    border-bottom: 2px solid #53354A;
	    color: #53354A;
	    display: block;
	    font-size: 1.5em;
	    padding: 2em 0;
	}

	#menu-toggle:checked ~ .heroUList {
		opacity: 1;
		height: 100vh;
		/*width: 100vw;*/
		visibility: visible;
		position: absolute;
	    top: 140px;
	}

}

/*********** < HERO ************/

/*********** WORKS > ************/

.worksHead {
	grid-area: head;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.worksMain {
	grid-area: main;
	/* align-self: center; */
}

.worksUnit {
	grid-area: work;
}

.worksContainer {
    /* width: 90%; */
    display: grid;
    grid-template-areas:
		"work work work"
		"work work work";
    grid: 200px 200px / 200px 200px 200px;
    justify-content: center;
    grid-gap: 10px 20px;
}

@media screen and (max-width: 650px) {
	/*.works {
	    grid-template: 200px 3fr / 1fr;
	}*/

	.worksContainer {
		grid-template-areas:
			"work"
			"work"
			"work"
			"work"
			"work"
			"work";
		grid-template: repeat(6, 200px) / 200px;
	}
}

/*********** < WORKS ************/

/************ ABOUT > **********/

.aboutHead {
	grid-area: head;
	align-self: center;
	justify-self: center;
}

.aboutMain {
	justify-self: center;
	grid-area: main;
}

section.aboutContainer {
    display: flex;
}

article.aboutText h3, .aboutText
 p {
    padding: 20px;
}

/*********** < ABOUT ***********/

footer {
	grid-area: foot;
}
