.container {
    font: 16px verdana, sans-serif;
    font-size: 100%;
}

header h1, .content {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
}

.content article {
    border: 1px solid;
    margin: 10px;
    /* justify-content: center; */
}

header {
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

section.content {
	min-width: 50%;
    border: 0;
}

main {
    text-align: center;
}

.answers ol {
    text-align: initial; 
    list-style-type: upper-alpha;
    list-style-position: inside;
    display: flex;
    flex-flow: row wrap;
}

.answers li {
    /* display: inline-flex; */
    flex: 1 1 35%;
}

.answers {
    /* text-align: initial; */
}

.user {
	padding: 10px;
	border: 1px solid;
	border-radius: 5px;
/* display: inline; *//* position: absolute; */
}

.list {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.list li {
    flex: 1 1 50%;
}
