<!DOCTYPE html>
<html lang="en" ng-app="root">
<head>
	<meta charset="UTF-8">
	<title>Weather Informer</title>
	<meta name="description" content="Weather-Informer">
	<meta name="author" content="IT-house">
	<link rel="stylesheet" href="css/master.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>
<body ng-controller="main_Ctrl">
	<section class="wrapper">
		<header>
		<form name="cities" id="citiesForm" ng-submit="send($event)">

			<select name="cities" ng-model="text" ng-options="obj for obj in optionArray">
				<option value="Minsk">Minsk</option>
			</select>
			<input class="enterText" type="text" ng-model="text" value="{{text}}" placeholder="Type city name here">
			<input type="submit" value="CLick">
			<input type="button" value="Save city" ng-click="save(text)">
		</form>
		</header>

		<main>
		
			<section class="info">
				<p>Your city is: {{city}}</p>
				<p>Temperature: {{temp}}</p>
				<p>Overall weather: {{weather}}</p>
			</section>

		</main>
	</section>
	
	<script src="js/script.js"></script>
</body>
</html>