@font-face {
  font-family: 'OpenSansCondLight';
  src: url('../fonts/OpenSans-CondLight.eot');
  src: url('../fonts/OpenSans-CondLight.woff') format('woff'),
       url('../fonts/OpenSans-CondLight.ttf')  format('truetype');
}

body {
    font-family: 'PT Sans','Open Sans',  sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.wrapper {
    padding: 0;
    margin: 0 auto;
    height: 1715px;
    position: relative;
}

header, nav, .slider, main.content, footer {
    position: absolute;
}

/* STYLES FOR HEADER */

header {
    height: 230px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(220,220,220);
}

section.info {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

article.companyTitle {
    height: 100%;
    padding: 63px 0px;
    position: relative;
    color: rgb(119,119,119);
}


.brandLogo img {
    background-color: rgb(119,119,119);
}

.brandName {
    position: absolute;
    top: 65px;
    left: 110px;
    width: 180px;
    margin-right: auto;
}

.brandName h2 {
    margin: 0;
    font-weight: bold;
}

a.brandLogo {
    position: absolute;
    left: 0;
    margin-right: auto;
}

.phones {
    position: absolute;
    right: 0;
    top: 77px;
    line-height: 30px;
    font-size: 44px;
}

.phones p {
    font-family: "OpenSansCondLight", sans-serif;
}

.phones a {
    color: rgb(119,119,119);
}

/*******/

/* FOR FEEDBACK LINK "ÐžÐ±Ñ€Ð°Ñ‚Ð½Ð°Ñ ÑÐ²ÑÐ·ÑŒ" */

span.feedback {
    right: 0;
    position: absolute;
    bottom: 45px;
    font-size: 22px;
    font-weight: bold;
}

span.feedback a {
    color: rgb(119,119,119);
    text-decoration: underline;
    text-decoration-style: dashed;
}

/*******/

nav {
    top: 230px;
    width: 100%;
    height: 80px;
    background-color: rgb(119,119,119);
}

ul.menu {
    height: 100%;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-left: 0px;
}

ul.menu a {
    color: #fff;
}

ul.menu li {
    float: left;
    padding-top: 25px;
    font-size: 30px;
}

ul.menu li:after {
    content: "|";
    display: inline;
    color: #fff;
    margin: 0px 10px;
}

ul.menu li:last-child:after {
    display: none;
}

section.slider {
    top: 310px;
    width: 100%;
    background-color: rgb(248,248,248);
}

section.info.sliderInfo {
    text-align: center;
    width: 1400px;
}

main.content {
    top: 710px;
    height: 785px;
    width: 100%;
}

section.info.mainInfo {
    position: relative;
    padding-top: 30px;
}

aside {
    position: absolute;
    width: 350px;
    height: 560px;
    background-color: rgb(119,119,119);
    color: #fff;
}

article.newsBlock {
    position: relative;
    width: 300px;
    height: 440px;
    padding-left: 30px;
}

article.newsBlock h2 {
    font-size: 43px;
    line-height: 28px;
    margin-bottom: 34px;
    font-weight: bold;
}

.newsEntry {
    margin-bottom: 15px;
}

span.archive {
    position: absolute;
    right: 0;
    bottom: 0;
}

span.archive a {
    color: #fff;
    text-decoration: underline;
}

section.aboutCompany {
    right: 0;
    width: 600px;
    padding: 0 20px;
    position: absolute;
}

section.aboutCompany h1 {
    margin: 16px 0;
    letter-spacing: 2px;
}

section.aboutCompany p {
    margin-bottom: 23px;
}

/* STYLES FOR FOOTER */

footer {
    bottom: 0;
    border: 1px solid;
    height: 220px;
    width: 100%;
    background-color: rgb(119,119,119);
}

article.afterword {
    height: 100%;
    padding: 45px 0;
    position: relative;
    color: #fff;
}

article.afterword a {
    color: #fff;
}

.lifespan {
    left: 0;
    line-height: 16px;
    position: absolute;
}

.footMenu {
    left: 307px;
    line-height: 25px;
    position: absolute;
}

.footMenu a {
    text-decoration: underline;
}

.footMenu ul {
    list-style-type: none;
}

.credits {
    width: 225px;
    right: 0;
    position: absolute;
}

.credits a {
    text-decoration: underline;
}

.credits img {
    vertical-align: inherit;
}

.credits a {
    padding: 0;
    margin: 0;
    padding-right: 4px;
    display: inline-block;
}

.credits p {
    width: 180px;
    display: inline-block;
    font-size: 15px;
}

/*******/